* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-color: #242424;
  --background-color: #fcfcfc;
  --icon-color: #fcfcfc;
  --logo-1: #5ba95d;
  --logo-2: #033f63;
  --shadow: 0.2;
  overflow-x: hidden;
}

[data-theme='light']{
  --text-color: #242424;
  --background-color: #fcfcfc;
  --icon-color: #fcfcfc;
  --logo-1: #5ba95d;
  --logo-2: #033f63;
  --shadow: 0.2;
}

[data-theme='dark']{
  --background-color: #242424;
  --text-color: white;
  --icon-color: #242424;
  --logo-1: #F58614;
  --logo-2: #BABBBC;
  --shadow: 0.7;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  position: sticky;
  top:0;
  background-color: var(--background-color);
  display: grid;
  width: 100%;
  height: 70px;
  grid-template-columns: 300px 5fr 100px 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,var(--shadow));
  z-index: 10;
}

.logo-container{
  display: flex;
  text-align: center;
  margin: 0 10px;
}

.logo-name {
  padding: 0 10px;
  background: linear-gradient(81deg,var(--logo-2) 12%, var(--logo-1) 91%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-pic {
  width: 100px;
  height: 70px;
}

.search-bar-container{
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;
  background-color: var(--logo-2);
  border-radius: 50px;
  height: 50px;
  align-self: center;
}

.search-icon {
  height: 30px;
  width: 30px;
  align-self: center;
  margin: 0 10px;
  color: var(--icon-color);
}

.search-bar-container input {
  width: 100%;
  height: 30px;
  font-size: 1rem;
  align-self: center;
  margin: 0 10px;
  background-color: var(--logo-2);
  outline: none;
  border: none;
  color: var(--icon-color);
}

.search-bar-container input:focus {
  outline: none;
}

.light-dark-mode-container {
  font-size: 35px;
  background-color: var(--logo-2);
  color: var(--icon-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-self: flex-end;
  align-self: center;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.user-container { 
  font-size: 35px;
  background-color: var(--logo-2);
  color: var(--icon-color);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-self: flex-end;
  align-self: center;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  padding: 0;
}

.home-container {
  width: 100vw;
}

.display-car-container{
  display: flex;
  background-image: url('./assets/Images/MainCar.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 100%;
  background-position: top center;
  justify-content: center;
}

.display-text{
  align-self: flex-end;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-fill-color: transparent;
}

.car-list-title {
  padding-bottom: 50px;
  background: linear-gradient(81deg,var(--logo-2) 12%, var(--logo-1) 91%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-stroke-width: 1px;
}

.all-cars-with-filters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

@media screen and (min-width: 600px) {
  .car-cards {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  .car-img {
    transform: scale(0.4);
    transition: all ease 0.3s;
  }
}

@media screen and (min-width: 1100px) {
  .car-cards {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  .car-img {
    transform: scale(0.6);
    transition: all ease 0.3s;
  }
}

@media screen and (min-width: 1600px){
  .car-cards {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
  }
  .car-img {
    transform: scale(0.8);
    transition: all ease 0.3s;
  }
}

.car-card{
  display: flex;
  flex: 1;
  padding: 0 30px;
  padding-top: 30px;
  border-radius: 10px;
}

.car-card-link{
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.car-card__pic-wrap{
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.car-card-image{
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.2s linear;
    background-color: var(--background-color);
}

.car-card-image:hover{
  transform: scale(1.1);
}

.car-card-info{
  padding: 20px 30px 30px;
}

.car-card-text{
  color: var(--text-color);
  font-size: 18px;
  line-height: 24px;
}

.single-car-container {
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
}

.single-car-pic-container{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.car-img {
  align-self: center;
  justify-self: center;
  border-radius: 15px;
}

.single-car-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.car-name-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-name {
  padding-bottom: 20px;
}

.car-info {
  padding-bottom: 10px;
}

.list-spacer {
  display: flex;
  flex-direction: column;
}
.icon-space{
  padding-right: 10px;
}

.car-features {
  padding-bottom: 100px;
  font-size: 20px;
  list-style: none;
}

.car-feature {
  padding-top: 5px;
}

.center-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  font-size: 20px;
}

.money {
  color: #3e9c35;
}

.rdp-months {
  transform: scale(1.4);
}

.book-button {
  margin-top: 100px;
}

.home-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.go-home {
  transform: scale(2);
}