* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.logo-container{
  display: flex;
}

.navbar > h1 {
  line-height: 70px;
}

.search-bar-container{
  display: flex;
}

.search-bar-container input {
  width: 100%;
}

.light-dark-mode-container {
  font-size: 35px;
  background-color: white;
  color: #242424;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}